#main-container {
	position: relative;
}
#main-container .web.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(24,27,32,0.15);
    border-bottom: 1px solid white;
    z-index: 1;
}
#main-container .header.web .nav-box ul li{
	color: #fff;
	text-shadow: rgb(46, 46, 46) 0px 2px 5px;
}
#main-container .header.web .nav-box ul li a{
	font-size: 16px; 
	color: #fff;
	text-shadow: rgb(46, 46, 46) 0px 2px 5px;
}
#main-container #content-box {		
	padding: 150px 0 0 50px;
	width: 100%;
	height: 100vh;
	background-size: cover;
}
#main-container #content-box .desc-box{
	position:absolute;
	top: 150px;
	left: 50px;
	width: 709px;
	height: 739px;
	background: url(../images/aboutus.png);
	color: white;
	padding: 120px 50px;
    font-size: 1.4em;
    line-height: 1.8em;
    z-index: 2;
}
.video-box {
	width: 100%;
    height: calc(100vh);
	position:absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: -50%;
	overflow: hidden;
	transform: translate(-50%);
	z-index: 0;
}
.video-box video.wb {
	height: auto;
	width: 100%;
}
.video-box video.hb {
	height: 100%;
	width: auto;
}


@media (max-width: 768px) {
	#main-container #content-box {
		position: relative;
	}

	#main-container #content-box .desc-box{
		position:absolute;
		top: 250px;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: auto;
		background: url(../images/aboutus2.png);
		color: white;
		padding: 20px;
	    font-size: 1.2em;
	    line-height: 1.4em;
	    z-index: 2;
	    overflow: auto;
	}


}