.mobile {
	display: none;
}
#main-container {
	position: relative;
}
#main-container .web.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(24,27,32,0.15);
    border-bottom: 1px solid white;
    z-index: 1;
    /*min-width: 1000px;*/
}
#main-container .header.web .nav-box ul li{
	color: #fff;
	text-shadow: rgb(46, 46, 46) 0px 2px 5px;
}
#main-container .header.web .nav-box ul li a{
	font-size: 16px; 
	color: #fff;
	text-shadow: rgb(46, 46, 46) 0px 2px 5px;
}
#main-container #content-box-1 {
	position: relative;	
	padding: 0;
	width: 100%;
	/*min-width: 1000px;*/
	height: calc(100vh - 90px);
	background-color: #ccc;
	overflow: hidden;
}
#main-container #content-box-2 {		
	width: 100%;
	height: 90px;
	/*min-width: 1000px;*/
	background-color: #e2e2e2;
	overflow: hidden;
}
#main-container #content-box-3 {
	position: relative;		
	width: 100%;
	/*min-width: 1000px;*/
	height: 100px;
	background-color: #fff;
	text-align: center;
	padding: 10px 0 0 0;
	overflow: hidden;
}
#main-container #content-box-4 {
	position: relative;		
	width: 100%;
	/*min-width: 1000px;*/
	height: 700px;
	background-color: #fff;
	overflow: hidden;
}
#main-container #content-box-5 {	
	position: relative;	
	width: 100%;
	/*min-width: 1000px;*/
	min-height: 680px;
	margin: 0 auto;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	overflow: hidden;
}
#main-container #content-box-6 {		
	position: relative;
	width: 100%;
	/*min-width: 1000px;*/
	height: 955px;
	padding: 45px 0 0 0 ;
	background-color: #fff;
	overflow: hidden;
	overflow: hidden;
}

/* banner */
.video-box {
	width: 100%;
    height: calc(100vh - 90px);
	position:absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: -50%;
	overflow: hidden;
	transform: translate(-50%);
}
.video-box video.wb {
	height: auto;
	width: 100%;
}
.video-box video.hb {
	height: 100%;
	width: auto;
}
.carousel-inner > .item {
	width: 100%;
    height: calc(100vh - 90px);
}
.carousel-inner > .item > video, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    width: 100%;
	height: calc(100vh - 90px);
	-ms-object-fit: cover;
	object-fit: cover;
    margin: auto;
}
.carousel-control {
	width: 8% !important;
}
.carousel.slide .left.carousel-control i{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 10px;
    z-index: 5;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
}
.carousel.slide .right.carousel-control i{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    right: 10px;
    z-index: 5;
    line-height: 50px;
    text-align: center;
    font-size: 2em;
}
.carousel.slide .carousel-caption {
	top: 50%;
    left: 10%;
    bottom: initial;
    right: initial;
	text-align: left;
	padding:20px;
	width: 490px;
	max-width: 490px;
	background-color: rgba(0,0,0,0.5); 
}
.carousel.slide .carousel-caption-1 {
	
}
.carousel.slide .carousel-caption-5 {
	background-color: rgba(0,0,0,0.8); 
}
.carousel.slide .carousel-caption-1 h2, .carousel.slide .carousel-caption-1  h3{
	font-weight: bold;
}
.carousel.slide .btn-orange {
	background-color: #ff8a00;
	color: white;
}

.carousel.slide .item .prod-1{
    position: absolute;
    top: 150px;
    right: 100px;
    width: 200px;
    height: 260px;
    z-index: 9;
    border: 3px solid white;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    color: white;
}

.carousel.slide .item .prod-2{
    position: absolute;
    top: 150px;
    right: 320px;
    width: 200px;
    height: 260px;
    z-index: 9;
    border: 3px solid white;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
    
}
.carousel.slide .item .prod-1 a, .carousel.slide .item .prod-2 a {
	color: white;
}
.carousel.slide .item .prod-1:hover a, .carousel.slide .item .prod-1:hover a {
	color: #ff8a00;
}
.carousel.slide .item .prod-1:hover, .carousel.slide .item .prod-2:hover{
	border: 3px solid #ff8a00;
}
.carousel.slide .item .prod-1 .name, .carousel.slide .item .prod-2 .name {
	padding: 5px;
}

/* search */
.search-box {
	width: 100%;
	height: 90px;
	display: flex;
}
.search-box .right-box {
	flex: 1;
	background-color: #e2e2e2;
	color: #949494;
}
.search-box .center-box {
	padding: 15px;
	width: 800px;
	background-color: #e2e2e2;
	color: #949494;
}
.search-box .left-box {
	padding: 5px 0 0 0;
	flex: 2;
	background-color: black;
	color: white;
}
.search-box .left-box button{
	color: white;
}
.search-box .center-box .form-group {
    padding: 0 5px !important;
    margin-bottom: 15px;
}

/* slogan */

.slogan-1 {
	font-size: 26px;
	font-weight: bold;
}

.slogan-2 {
	font-size: 18px;
	font-weight: bold;
}

/* 國家 */
#country-slide-box-web .photos-box{
	position: relative;
	height: 525px;
	width: 100%;
}
#country-slide-box-web .photos-box .photo-box{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	height: 525px;
	width: 100%;
}
#country-slide-box-web .btn-box{
	position: absolute;
	top: 495px;
	left: calc(50vw - 465px);
	display: flex;
	margin: 0 auto;
	width: 930px;
	height: 100px;
	z-index: 3;
}
#country-slide-box-web .btn-box .btnitem {
	position: relative;
	overflow: hidden;
	height: 100px;
	cursor: pointer;
}
#country-slide-box-web .btn-box .btnitem .img-box {
	position: absolute;
	top: 0;
	left: 0;
	height: 200px;
	transition: top 0.2s;
}
#country-slide-box-web .btn-box .btnitem:hover .img-box, #country-slide-box-web .btn-box .btnitem.active .img-box {
	top: -100px;
}
#country-slide-box-web .btn-box .btn-0{width: 105px;}
#country-slide-box-web .btn-box .btn-1{width: 100px;}
#country-slide-box-web .btn-box .btn-2{width: 130px;}
#country-slide-box-web .btn-box .btn-3{width: 105px;}
#country-slide-box-web .btn-box .btn-4{width: 110px;}
#country-slide-box-web .btn-box .btn-5{width: 105px;}
#country-slide-box-web .btn-box .btn-6{width: 109px;}
#country-slide-box-web .btn-box .btn-7{width: 166px;}

#country-slide-box-web .btn-box .btn-0 .img-box {width: 105px; background-image: url(../images/country/btn/0.png);}
#country-slide-box-web .btn-box .btn-1 .img-box {width: 100px; background-image: url(../images/country/btn/1.png);}
#country-slide-box-web .btn-box .btn-2 .img-box {width: 130px; background-image: url(../images/country/btn/2.png);}
#country-slide-box-web .btn-box .btn-3 .img-box {width: 105px; background-image: url(../images/country/btn/3.png);}
#country-slide-box-web .btn-box .btn-4 .img-box {width: 110px; background-image: url(../images/country/btn/4.png);}
#country-slide-box-web .btn-box .btn-5 .img-box {width: 105px; background-image: url(../images/country/btn/5.png);}
#country-slide-box-web .btn-box .btn-6 .img-box {width: 109px; background-image: url(../images/country/btn/6.png);}
#country-slide-box-web .btn-box .btn-7 .img-box {width: 166px; background-image: url(../images/country/btn/7.png);}

#country-slide-box-web .photos-box .photo-box .right-box{
	position: relative;
	height: 525px;
	width: 40%;
	background-color: #e54e53;
}
#country-slide-box-web .photos-box .photo-box .right-box .triangle-box{
	position: absolute;
	right: -200px;
	top: 0;
	height: 0;
	width: 0;
	border-left:100px solid #e54e53;
	border-top:calc(525px / 2) solid #e54e53;
	border-right:100px solid transparent;
	border-bottom:calc(525px / 2) solid transparent;
	z-index: 1;
}
#country-slide-box-web .photos-box .photo-box .left-box{
	height: 525px;
	width: 60%;
	position: relative;
	z-index: 0;
	overflow: hidden;
}
#country-slide-box-web .photos-box .photo-box .left-box .black-box {
	position: absolute;
    left: 20px;
    bottom: 0px;
    width: 748px;
    height: 281px;    
    padding: 140px 0 0 100px;
    color: white;
    font-size: 1.6em;
    background-image: url(../images/country/slogan/black-l.png);
}
#country-slide-box-web .photos-box .photo-box .right-box .slogan-bg {
	position: absolute;
	right: -200px;
	top: 0px;	
	width: 530px;
	height: 525px;
	z-index: 2;
}
#country-slide-box-web .photos-box .photo-box .right-box .slogan-bg a{
	position: absolute;
	top: 50px;
	right: 120px;
}
#country-slide-box-web .photos-box .photo-box .left-box .black-box .country {
	position: absolute;
	left: 320px;
    top: 20px;
	width: 368px;
	height: 86px;
	background-image: url(../images/country/slogan/0-l.png);
}

#country-slide-box-web .photos-box .photo-0-box .left-box{
	background-image: url(../images/country/img/0.jpg);
	background-size: cover;
}
#country-slide-box-web .photos-box .photo-1-box .left-box{
	background-image: url(../images/country/img/1.jpg);
	background-size: cover;
}
#country-slide-box-web .photos-box .photo-2-box .left-box{
	background-image: url(../images/country/img/2.jpg);
	background-size: cover;
}
#country-slide-box-web .photos-box .photo-3-box .left-box{
	background-image: url(../images/country/img/3.jpg);
	background-size: cover;
}
#country-slide-box-web .photos-box .photo-4-box .left-box{
	background-image: url(../images/country/img/4.jpg);
	background-size: cover;
}
#country-slide-box-web .photos-box .photo-5-box .left-box{
	background-image: url(../images/country/img/5.jpg);
	background-size: cover;
}
#country-slide-box-web .photos-box .photo-6-box .left-box{
	background-image: url(../images/country/img/6.jpg);
	background-size: cover;
}
#country-slide-box-web .photos-box .photo-7-box .left-box{
	background-image: url(../images/country/img/7.jpg);
	background-size: cover;
	background-position-y: 100%; 
}

#country-slide-box-web .photos-box .photo-0-box .right-box .slogan-bg {
	background-image: url(../images/country/slogan/0-r.png);
}
#country-slide-box-web .photos-box .photo-1-box .right-box .slogan-bg {
	background-image: url(../images/country/slogan/1-r.png);
}
#country-slide-box-web .photos-box .photo-2-box .right-box .slogan-bg {
	background-image: url(../images/country/slogan/2-r.png);
}
#country-slide-box-web .photos-box .photo-3-box .right-box .slogan-bg {
	background-image: url(../images/country/slogan/3-r.png);
}
#country-slide-box-web .photos-box .photo-4-box .right-box .slogan-bg {
	background-image: url(../images/country/slogan/4-r.png);
}
#country-slide-box-web .photos-box .photo-5-box .right-box .slogan-bg {
	background-image: url(../images/country/slogan/5-r.png);
}
#country-slide-box-web .photos-box .photo-6-box .right-box .slogan-bg {
	background-image: url(../images/country/slogan/6-r.png);
}
#country-slide-box-web .photos-box .photo-7-box .right-box .slogan-bg {
	background-image: url(../images/country/slogan/7-r.png);
}

#country-slide-box-web .photos-box .photo-0-box .left-box .black-box .country {
	background-image: url(../images/country/slogan/0-l.png);
}
#country-slide-box-web .photos-box .photo-1-box .left-box .black-box .country {
	background-image: url(../images/country/slogan/1-l.png);
}
#country-slide-box-web .photos-box .photo-2-box .left-box .black-box .country {
	background-image: url(../images/country/slogan/2-l.png);
}
#country-slide-box-web .photos-box .photo-3-box .left-box .black-box .country {
	background-image: url(../images/country/slogan/3-l.png);
}
#country-slide-box-web .photos-box .photo-4-box .left-box .black-box .country {
	background-image: url(../images/country/slogan/4-l.png);
}
#country-slide-box-web .photos-box .photo-5-box .left-box .black-box .country {
	background-image: url(../images/country/slogan/5-l.png);
}
#country-slide-box-web .photos-box .photo-6-box .left-box .black-box .country {
	background-image: url(../images/country/slogan/6-l.png);
}
#country-slide-box-web .photos-box .photo-7-box .left-box .black-box .country {
	background-image: url(../images/country/slogan/7-l.png);
}

/* 服務 */
.service-box {
	width: 381px;
	height: 618px;
	background-image: url(../images/services/shadow.png);
}
.service-box .bg-box {
	position: relative;
	width: 381px;
	height: 601px;
	overflow: hidden;
}
.service-box-0 .bg-box {	
	background-image: url(../images/services/0.jpg);
}
.service-box-1 .bg-box {
	background-image: url(../images/services/1.jpg);
}
.service-box-2 .bg-box {
	background-image: url(../images/services/2.jpg);
}
.service-box-3 .bg-box {
	background-image: url(../images/services/3.jpg);
}
.service-box .bg-box .desc-box{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 1202px;
	transition: top 0.6s;
}
.service-box .bg-box:hover .desc-box{
	top: -601px;
}
.service-box .bg-box .box-1 {
	color: white;
    padding: 70px 10px 0 60px;
    font-size: 1.6em;
    text-shadow: rgb(46, 46, 46) 0px 2px;
    font-weight: bold;
}
.service-box-0 .bg-box .box-1 {
	width: 100%;
	height: 601px;
	background-image: url(../images/services/title-1.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.service-box-1 .bg-box .box-1 {
	width: 100%;
	height: 601px;
	background-image: url(../images/services/title-2.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.service-box-2 .bg-box .box-1 {
	width: 100%;
	height: 601px;
	background-image: url(../images/services/title-3.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.service-box-3 .bg-box .box-1 {
	width: 100%;
	height: 601px;
	background-image: url(../images/services/title-4.png);
	background-repeat: no-repeat;
	cursor: pointer;
}
.service-box .bg-box .box-2 {
	width: 100%;
	height: 601px;
	background-color: rgba(0,0,0,0.5);
	color: white;
	padding: 20px 20px;
}
.service-box .bg-box .box-2 h3 {
	text-align: center;
}
.service-box .bg-box .box-2 p {
	font-size: 1.2em;
	line-height: 1.6em;
}

/* 紛絲團 */
#main-container #content-box-6 .images-box {
	position: relative;
	width: 100%;
	height: 910px;
	background-color: #eee;
	
}
#main-container #content-box-6 .images-box .img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 910px;	
	display: none;
	opacity: 1;
}
#main-container #content-box-6 .images-box .img.hide{
	transition: opacity 1s ease-in-out;
	opacity: 0;
}
#main-container #content-box-6 .images-box .img.img-0 {
	background-image: url(../images/fans/0.jpg);
	background-size: cover;
}
#main-container #content-box-6 .images-box .img.img-1 {
	background-image: url(../images/fans/1.jpg);
	background-size: cover;
	background-position: center;
}
#main-container #content-box-6 .images-box .img.img-2 {
	background-image: url(../images/fans/2.jpg);
	background-size: cover;
	background-position: center;
}
#main-container #content-box-6 .images-box .img.img-3 {
	background-image: url(../images/fans/3.jpg);
	background-size: cover;
	background-position: center;
}
#main-container #content-box-6 .images-box .img.img-4 {
	background-image: url(../images/fans/4.jpg);
	background-size: cover;
	background-position: center;
}
#main-container #content-box-6 .images-box .img.img-5 {
	background-image: url(../images/fans/5.jpg);
	background-position: center;
	background-size: cover;
}
#main-container #content-box-6 .images-box .img.img-6 {
	background-image: url(../images/fans/6.jpg);
	background-position: center;
	background-size: cover;
}
#main-container #content-box-6 .images-box .img.img-7 {
	background-image: url(../images/fans/7.jpg);
	background-position: center;
	background-size: cover;
}
#main-container #content-box-6 .images-box .img.img-8 {
	background-image: url(../images/fans/8.jpg);
	background-position: center;
	background-size: cover;
}
#main-container #content-box-6 .images-box .img.img-9 {
	background-image: url(../images/fans/9.jpg);
	background-position: center;
	background-size: cover;
}
#main-container #content-box-6 .fans-box {
	position: absolute;
    top: 33px;
    bottom: 172px;
    width: 350px;
    right: calc(100% - 50% - 641px + 180px );
    background-color: #fff;
    border-radius: 30px;
    overflow: hidden;
}
#main-container #content-box-6 .fans-box iframe{
	position: absolute;
    top: 75px;
    left: 30px;
    z-index: 1;
    transform: scale(1.2);
}
#main-container #content-box-6 .fans-box .mask{
	position: absolute;
    top: 570px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    z-index: 1;
    background-image: url(../images/fans/mobile-2.png);
    background-size: 100%;
	background-position: 50% 0;
}
#main-container #content-box-6 .mobile-box {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 641px;
	height: 946px;
	background-image: url(../images/mobile.png);
}
#main-container #content-box-6 .qrcod-box-line {
	position: absolute;
	top: 100px;
	left: calc(50% - 500px);
	padding: 20px;
	background-color: white;
}
#main-container #content-box-6 .qrcod-box-wechat {
	position: absolute;
	top: 100px;
	left: calc(50% - 500px + 200px);
	padding: 20px;
	background-color: white;
}
#main-container #content-box-6 .desc-box {
	position: absolute;
	top: 320px;
	left: calc(50% - 500px);
	font-size: 2em;
	font-weight: bold;
	text-shadow: rgb(46, 46, 46) 0px 2px 5px;
	color: white;
}

#main-container #content-box-6 .desc-box a{
	display: none;
}

/* *** */
.btn-orange{
	background-color: #ff8a00;
	color: white;
}
.btn-orange:hover {
	background-color: #ff8400;
	color: white;
	text-decoration: underline;
}

@media (min-width: 769px) and (max-width: 999px) {
	#country-slide-box-web .btn-box {
		width: auto;
		left: initial;
		flex-wrap: wrap;
		justify-content: center;
	}

	#main-container #content-box-6 .fans-box {
		right:31px;
	}
	#main-container #content-box-6 .mobile-box {
		right: -150px;
		left: initial;
	}
	#main-container #content-box-6 .qrcod-box-line {
		position: absolute;
		top: 100px;
		left: 10px;
		padding: 20px;
		background-color: white;
	}
	#main-container #content-box-6 .qrcod-box-wechat {
		position: absolute;
		top: 330px;
		left: 10px;
		padding: 20px;
		background-color: white;
	}
	#main-container #content-box-6 .desc-box {
		position: absolute;
		top: 560px;
		left: 10px;
		font-size: 2em;
		font-weight: bold;
		text-shadow: rgb(46, 46, 46) 0px 2px 5px;
		color: white;
	}

}

@media (max-width: 768px) {
	.web {
		display: none;
	}
	.mobile {
		display: block;
	}

	#main-container #content-box-1,
	#main-container #content-box-2,
	#main-container #content-box-3,
	#main-container #content-box-4,
	#main-container #content-box-5,
	#main-container #content-box-6{
		width: 100%;
		min-width: initial;
		height: auto;	
	}

	/* *** */
	.carousel.slide .carousel-caption {
		width: 100%;
		max-width: initial;
		top: initial;
		bottom: 0 !important;
		left: 0;
	}

	.carousel.slide .item .prod-1 {
		left: calc(50% - 100px);
	}
	.carousel.slide .item .prod-2 {
		display: none;
	}
	.video-box {
		display: none;
	}
	/* *** */
	#main-container #content-box-4 {
		margin-bottom: 50px;
	}

	#country-slide-box-mobile {
		position: relative;
	}

	#country-slide-box-mobile .photos-box{
		position: relative;
		width: 100%;
		height: 750px;
	}

	#country-slide-box-mobile .photo-box {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 750px;
	}

	#country-slide-box-mobile .photo-box .top-box{
		position: relative;
		width: 100%;
		height: 750px;
	}

	#country-slide-box-mobile .photo-0-box  .top-box {
		background-image: url(../images/country/img/0.jpg);
		background-size: cover;
		background-position: 50% 50%;
	}

	#country-slide-box-mobile .photo-1-box  .top-box {
		background-image: url(../images/country/img/1.jpg);
		background-size: cover;
		background-position: 70% 50%;
	}

	#country-slide-box-mobile .photo-2-box  .top-box {
		background-image: url(../images/country/img/2.jpg);
		background-size: cover;
		background-position: 50% 50%;
	}

	#country-slide-box-mobile .photo-3-box  .top-box {
		background-image: url(../images/country/img/3.jpg);
		background-size: cover;
		background-position: 50% 50%;
	}

	#country-slide-box-mobile .photo-4-box  .top-box {
		background-image: url(../images/country/img/4.jpg);
		background-size: cover;
		background-position: 50% 50%;
	}

	#country-slide-box-mobile .photo-5-box  .top-box {
		background-image: url(../images/country/img/5.jpg);
		background-size: cover;
		background-position: 50% 50%;
	}

	#country-slide-box-mobile .photo-6-box  .top-box {
		background-image: url(../images/country/img/6.jpg);
		background-size: cover;
		background-position: 50% 50%;
	}

	#country-slide-box-mobile .photo-7-box  .top-box {
		background-image: url(../images/country/img/7.jpg);
		background-size: cover;
		background-position: 50% 50%;
	}

	#country-slide-box-mobile .photo-box .prod {
		position: absolute;
		bottom: 240px;
		left: calc(50% - ( 276px / 2 * 0.6 ) - 0px );		
		width: calc(276px * 0.6);
    	height: calc(382px * 0.6);
	}

	#country-slide-box-mobile .photo-box .prodname {
		position: absolute;
		bottom: 240px;
		left: calc(50% - ( 244px / 2 / 2 ) + 50px );		
		width: calc(244px * 0.5);
    	height: calc(65px * 0.5);
	}

	#country-slide-box-mobile .photo-box .country {
		position: absolute;
		bottom: 280px;		
		height: calc(86px * 0.5);	
	}

	#country-slide-box-mobile .photo-0-box .prod {
		background-image: url(../images/country/slogan2/prod.png);
		background-size: cover;
	}

	#country-slide-box-mobile .photo-1-box .prod {
		background-image: url(../images/country/slogan2/prod.png);
		background-size: cover;
	}

	#country-slide-box-mobile .photo-2-box .prod {
		background-image: url(../images/country/slogan2/prod.png);
		background-size: cover;
	}

	#country-slide-box-mobile .photo-3-box .prod {
		background-image: url(../images/country/slogan2/prod.png);
		background-size: cover;
	}

	#country-slide-box-mobile .photo-4-box .prod {
		background-image: url(../images/country/slogan2/prod.png);
		background-size: cover;
	}

	#country-slide-box-mobile .photo-5-box .prod {
		background-image: url(../images/country/slogan2/prod.png);
		background-size: cover;
	}

	#country-slide-box-mobile .photo-6-box .prod {
		background-image: url(../images/country/slogan2/prod.png);
		background-size: cover;
	}

	#country-slide-box-mobile .photo-7-box .prod {
		background-image: url(../images/country/slogan2/prod.png);
		background-size: cover;
	}

	#country-slide-box-mobile .photo-0-box .prodname {
		background-image: url(../images/country/slogan2/prodname.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	#country-slide-box-mobile .photo-1-box .prodname {
		background-image: url(../images/country/slogan2/prodname.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	#country-slide-box-mobile .photo-2-box .prodname {
		background-image: url(../images/country/slogan2/prodname.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	#country-slide-box-mobile .photo-3-box .prodname {
		background-image: url(../images/country/slogan2/prodname.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	#country-slide-box-mobile .photo-4-box .prodname {
		background-image: url(../images/country/slogan2/prodname.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	#country-slide-box-mobile .photo-5-box .prodname {
		background-image: url(../images/country/slogan2/prodname.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	#country-slide-box-mobile .photo-6-box .prodname {
		background-image: url(../images/country/slogan2/prodname.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	#country-slide-box-mobile .photo-7-box .prodname {
		background-image: url(../images/country/slogan2/prodname.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	#country-slide-box-mobile .photo-0-box .country {
		left: calc(50% - ( 153px / 2 / 2 ) + 70px);		
		width: calc(153px * 0.5);
		background-image: url(../images/country/slogan2/c0.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	#country-slide-box-mobile .photo-1-box .country {
		left: calc(50% - ( 153px / 2 / 2 ) + 70px);		
		width: calc(153px * 0.5);
		background-image: url(../images/country/slogan2/c1.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	#country-slide-box-mobile .photo-2-box .country {
		left: calc(50% - ( 153px / 2 / 2 ) + 70px);		
		width: calc(153px * 0.5);
		background-image: url(../images/country/slogan2/c2.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	#country-slide-box-mobile .photo-3-box .country {
		left: calc(50% - ( 153px / 2 / 2 ) + 70px);		
		width: calc(153px * 0.5);
		background-image: url(../images/country/slogan2/c3.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	#country-slide-box-mobile .photo-4-box .country {
		left: calc(50% - ( 153px / 2 / 2 ) + 70px);		
		width: calc(153px * 0.5);
		background-image: url(../images/country/slogan2/c4.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	#country-slide-box-mobile .photo-5-box .country {
		left: calc(50% - ( 153px / 2 / 2 ) + 70px);		
		width: calc(153px * 0.5);
		background-image: url(../images/country/slogan2/c5.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	#country-slide-box-mobile .photo-6-box .country {
		left: calc(50% - ( 153px / 2 / 2 ) + 70px);		
		width: calc(153px * 0.5);
		background-image: url(../images/country/slogan2/c6.png);
		background-repeat: no-repeat;
		background-size: contain;
	}
	#country-slide-box-mobile .photo-7-box .country {
		left: calc(50% - ( 300px / 2 / 2 ) + 70px);		
		width: calc(300px * 0.5);
		background-image: url(../images/country/slogan2/c7.png);
		background-repeat: no-repeat;
		background-size: contain;
	}

	#country-slide-box-mobile .photo-box .bottom-box{
		position: absolute;
    	bottom: 0;
		width: 100%;
		height: 260px;
		background-color: rgba(0,0,0,0.5);
		color: white;
		line-height: 1.2em;
		font-size: 1.2em;
		text-align: center;
		padding: 30px 0 0 0;
	}
	#country-slide-box-mobile .photo-box .bottom-box .logo {
		margin-bottom: 20px;
	}

	#country-slide-box-mobile .btn-box {
		position: absolute;
		bottom: 0px;
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 20px 100px;
	}

	#country-slide-box-mobile .btn-box .btnitem {
		padding: 5px 10px;
		font-size:1.2em;
		margin: 5px 10px;
		text-decoration: underline;
	}

	#country-slide-box-mobile .btn-box .btnitem.active {
		color: #e54e53;
		font-weight: bolder;
	}

	/* *** */
	.search-box {
		flex-wrap: wrap;
	}

	.search-box {
		flex-wrap: wrap;
	}

	.search-box .right-box {
		display: none;
	}

	.search-box .center-box{
		width: 100%;
	}

	.search-box .center-box .space{
		display: none;
	}

	.search-box .left-box{
		width: 100%;
		text-align: center;
	}

	/* *** */
	#main-container #content-box-5 {
		min-height: initial;
	}
	.service-box {
		width: 95%;
		height: 150px;
		background-image: url(../images/services/shadow.png);
		margin-bottom: 20px;
		overflow: hidden;
		transition: height 0.6s;
	}

	.service-box.open {
		height: calc(90vw / 381 * 601 );
	}
	.service-box .bg-box {
		position: relative;
		width: 100%;
		height: calc(90vw / 381 * 601 );
		overflow: hidden;
		background-size: cover;
	}

	.service-box .bg-box:hover .desc-box{
		top: calc(90vw / 381 * 601 * -1);
	}

	.service-box .bg-box .desc-box {
		width: 100%;
		height: calc(90vw / 381 * 601);
	}

	.service-box-0 .bg-box .box-1, .service-box-0 .bg-box .box-2{
		width: 100%;
		height: calc(90vw / 381 * 601);
	}

	.service-box-1 .bg-box .box-1, .service-box-1 .bg-box .box-2{
		width: 100%;
		height: calc(90vw / 381 * 601);
	}

	.service-box-2 .bg-box .box-1, .service-box-2 .bg-box .box-2{
		width: 100%;
		height: calc(90vw / 381 * 601);
	}

	.service-box-3 .bg-box .box-1, .service-box-3 .bg-box .box-2{
		width: 100%;
		height: calc(90vw / 381 * 601);
	}

	/* *** */
	#main-container #content-box-6, #main-container #content-box-6 .images-box, #main-container #content-box-6 .images-box .img  {
		height: 800px;
	}

	#main-container #content-box-6 .qrcod-box-line {
		display: none;
	}

	#main-container #content-box-6 .qrcod-box-wechat {
		display: none;
	}

	#main-container #content-box-6 .desc-box{
		top: 600px;
		left: calc(50% - 150px);
		width: 300px;
		font-size: 1.6em;
	}

	#main-container #content-box-6 .desc-box a{
		display: block;
	}

	#main-container #content-box-6 .mobile-box{
		display: none;
	}

	#main-container #content-box-6 .fans-box{
		display: none;
	}

	.search-box .left-box button {
		width: 100%;
	}
}