@import url('https://fonts.googleapis.com/css?family=Lobster');
@charset "utf-8";
html, body, div, span, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, header, hgroup, menu, nav, section, summary,time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section { display:block;}
blockquote, q { quotes:none;}
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none;}
input, textarea { margin:0; padding:0;}
* {-webkit-text-size-adjust:none;}
a{text-decoration:none;}
fieldset, img { border:0;}
ol, ul { list-style:none;}
abbr, acronym { border:0;}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden;}
* html .clearfix {height: 1%;}
*:first-child + html .clearfix { min-height: 1%;}

body, h1, h2, h3, h4, h6, p {font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif; font-weight: normal; color: #333;}
p{ font-size: 16px;}
a{ text-decoration:none; outline: none; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;}
a:hover{ text-decoration:none;}
select, input, textarea, button {  font-family:'Roboto', 'Noto Sans TC',Arial,"微軟正黑體","新細明體", sans-serif;}
*:link, *:visited, *:hover, *:active, *:focus , * {border: none;outline: none;  -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
html, body{ height: 100%; }

/*===== start ======*/
.contents_box{ max-width: 1000px; margin: 0 auto;}

.main_shoppingcar{ padding: 20px 0 80px 0; width: 100%; min-height: 100%; background-color: #f8f8f8; background-color: #eaeaea;}
.main_shoppingcar .top_step{ width: 100%; padding: 15px 0;}
.main_shoppingcar .top_step ul{ width: 100%; background-color: #fff; }
.main_shoppingcar .top_step ul li{ float: left; width: 33.33%; padding: 20px 0 ; margin-bottom: 5px; position: relative;}
.main_shoppingcar .top_step ul li::after{ content: ""; position: absolute; right: 0; top:calc(50% - 15px); width: 30px; height: 30px; display: block; background: url(../images/step_arr.png) center center no-repeat; background-size: cover; }
.main_shoppingcar .top_step ul li:last-child::after{ display: none; }
.main_shoppingcar .top_step ul li::before{ content: ""; position: absolute; width: 100%; display: none; height: 5px; bottom: -5px; left: 0;/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eceff8+1,ffffff+100 */
background: #eceff8; /* Old browsers */
background: -moz-linear-gradient(left, #eceff8 8%, #ffffff 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #eceff8 8%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #eceff8 8%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eceff8', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ }
.main_shoppingcar .top_step ul li p{ font-size: 20px; font-weight: bold; color: #a2a2a2; text-align: center;}
.main_shoppingcar .top_step ul li p span{ font-family: 'Lobster', cursive; font-weight: normal;}
.main_shoppingcar .top_step ul li.btn_in p{ color: #333; }
.main_shoppingcar .top_step ul li.btn_in p span{ color: #ff3564; }
.main_shoppingcar .top_step ul li.btn_in::before{ display: block; }

/*buy_list 選擇商品*/
.main_shoppingcar .buy_list{ width: 100%; }
.main_shoppingcar .buy_list ul{ width: 100%; }
.main_shoppingcar .buy_list ul li{ width: 100%; height: 174px; background-color: #fff; transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;  margin-bottom: 30px; position: relative;}
.main_shoppingcar .buy_list ul li:hover{ box-shadow: 0px 3px 8px rgba(0,0,0,.2), 3px 5px 10px rgba(0,0,0,.1); }
.main_shoppingcar .buy_list ul li a.delete{ position: absolute; top: 5px; right: 10px; width: 30px; height: 30px; opacity: .5; display: block; cursor: pointer; background: url(../images/icon_delete.png) center center no-repeat; background-size: contain;}
.main_shoppingcar .buy_list ul li a.delete:hover{ opacity: 1; }

.main_shoppingcar .buy_list .product_photo{ width: 158px; height: 174px; float: left; }
.main_shoppingcar .buy_list .product_photo img{ width: 100%; height: 100%; }

.main_shoppingcar .buy_list .product_info{ width:calc(100% - 376px); float: left; padding: 20px 25px 0 25px; }
.main_shoppingcar .buy_list .product_info h3{ font-size: 20px; color: #333333; font-weight: bold; margin:5px 0 10px; display: block; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; line-height: 30px; height: 30px * 2; overflow:hidden; }
.main_shoppingcar .buy_list .product_info h3 span{ background-color: #ff3564; padding: 2px 3px; font-size: 16px; margin-right: 5px; color: #fff; display:initial; }
.main_shoppingcar .buy_list .product_info h3 a{ color: #333; }
.main_shoppingcar .buy_list .product_info h3 a:hover{ text-decoration: underline; }

.main_shoppingcar .buy_list .product_info .product_item{ padding-bottom: 15px;}
.main_shoppingcar .buy_list .product_info .product_item p{ display: inline-block; font-size: 16px; color: #686868; }
.main_shoppingcar .buy_list .product_info .product_item span{ padding: 0 20px; display: inline-block; }
.main_shoppingcar .buy_list .product_info .bottom_item{ width: 100%; }
.main_shoppingcar .buy_list .product_info .bottom_item .input_quantity{ float: left; border:1px solid #dddddd;  border-radius: 4px;}
.main_shoppingcar .buy_list .product_info .bottom_item .input_quantity button{ cursor: pointer; float: left; width:40px; height: 33px; line-height: 33px; font-size: 16px; background-color: #fff; color: #b8b8b8;}
.main_shoppingcar .buy_list .product_info .bottom_item .input_quantity button:hover{ color: #e39a9a; }
.main_shoppingcar .buy_list .product_info .bottom_item .input_quantity input{ float: left; width: 55px; text-align: center; height: 33px; font-size: 16px; line-height: 29px; padding: 2px 10px; border:1px solid #dddddd; border-width: 0 1px 0 1px;}

.main_shoppingcar .buy_list .product_info .bottom_item .voucher{ float: left; padding:0 20px; position: relative; }
.main_shoppingcar .buy_list .product_info .bottom_item .voucher input{ width: 180px; color: #333; font-weight: bold; height: 34px; line-height: 30px; border:1px solid #dddddd; border-radius: 4px; padding: 2px 10px; }
.main_shoppingcar .buy_list .product_info .bottom_item .voucher input::placeholder{ color: #999999; font-weight: normal; }
.main_shoppingcar .buy_list .product_info .bottom_item .voucher input:focus{ border-color: #ff8a00; }
.main_shoppingcar .buy_list .product_info .bottom_item .voucher input.error{ border-color: #fd735c; }
.main_shoppingcar .buy_list .product_info .bottom_item .voucher input.correct{ border-color: #35e0ce; }

.main_shoppingcar .buy_list .product_info .bottom_item .voucher .code_note{ position: absolute; top: 41px; left: 20px; z-index: 10; }
.main_shoppingcar .buy_list .product_info .bottom_item .voucher .code_note p{ font-size: 13px; line-height: 20px; color: #fff; background-color: #555555; border-radius: 4px; padding:6px 10px; position: relative;}
.main_shoppingcar .buy_list .product_info .bottom_item .voucher .code_note p span{ color: #fff95d; }
.main_shoppingcar .buy_list .product_info .bottom_item .voucher .code_note p::after{content: ""; top: -7px; left: 14px; position: absolute; width: 0; height: 0; border-style: solid; border-width: 0 7px 7px 7px; border-color: transparent transparent #555555 transparent; line-height: 0px; _border-color: #000000 #000000 #555555 #000000; _filter: progid:DXImageTransform.Microsoft.Chroma(color='#000000');}
.main_shoppingcar .buy_list .product_info .bottom_item .voucher .for_w_more{ min-width: 335px; }

.main_shoppingcar .buy_list .product_info .bottom_item .redbox-checkbox{ float: left;padding-top: 4px; }
.main_shoppingcar .buy_list .product_info .bottom_item .redbox-checkbox a{ color: #686868; font-size: 15px; }
.main_shoppingcar .buy_list .product_info .bottom_item .redbox-checkbox a:hover{ text-decoration: underline; }

.main_shoppingcar .redbox-checkbox{ position: relative; }
.main_shoppingcar .redbox-checkbox span{ padding-left: 10px; }
.main_shoppingcar .redbox-checkbox input[type="radio"], .main_shoppingcar .redbox-checkbox input[type="checkbox"] { width: 17px; height: 17px; opacity: 0; }
.main_shoppingcar .redbox-checkbox label {  position: absolute; left: 5px; top: 7px; width: 17px; height: 17px; background-color: #fff;  border: 2px solid #dddddd; }
.main_shoppingcar .redbox-checkbox input:checked+label { background-color: #fff; border: 2px solid #ff3564; }
.main_shoppingcar .redbox-checkbox input:checked+label::after { position: absolute; content: ""; width: 5px; height: 10px; top: -1px; left: 4px; border: 2px solid #fff; border-top: none; border-left: none; transform: rotate(45deg); }
.main_shoppingcar .redbox-checkbox input:checked+label.checkbox_style{  border-color: #ff3564;}
.main_shoppingcar .redbox-checkbox input:checked+label.checkbox_style::after{ border-color: #ff3564;}

.main_shoppingcar .buy_list .label_buy .product_info h3{ margin-bottom: 5px; }
.main_shoppingcar .buy_list .label_buy .product_info h3 span{ background-color: #ff8a00; }
.main_shoppingcar .buy_list .label_buy .product_info .product_item{ padding-bottom: 8px; }

.main_shoppingcar .buy_list .product_subtotal{ float: left; width: 200px; height: 100%;  display: -webkit-flex; display: flex; -webkit-align-items: center; align-items: center; -webkit-justify-content: center; justify-content: center;}
.main_shoppingcar .buy_list .product_subtotal .exbox{ width: 180px; border-left: 1px solid #dddddd; padding: 20px;}
.main_shoppingcar .buy_list .product_subtotal p.s_money{ font-size: 14px; color: #818181; }
.main_shoppingcar .buy_list .product_subtotal p.s_money span{ font-size: 22px; color: #ff1955; display: block; padding: 10px 0; }
.main_shoppingcar .buy_list .product_subtotal p.note_code{ font-size: 14px; color: #818181; }

.main_shoppingcar .total_amount{ background-color: #fff; border-radius: 4px; padding: 25px 30px;}
.main_shoppingcar .total_amount p{ float: left; display: inline-block; padding: 0 20px; line-height:44px;}
.main_shoppingcar .total_amount p.all{float: right; font-weight: bold; line-height: 39px;}
.main_shoppingcar .total_amount p.all span{ color: #ff1955; font-size: 30px; padding: 0 20px; }
.main_shoppingcar .total_amount p.mob{ display: none; }

/*fill_info  填寫資料*/
.main_shoppingcar .pay_info .total_amount{ padding: 0; padding-bottom: 10px; border-bottom: 1px solid #dddddd; margin-bottom: 15px; }

.main_shoppingcar .fill_info, .main_shoppingcar .pay_info{ width: 100%; padding: 15px 0; }
.main_shoppingcar .shoppingcar_form_box{ max-width: 1000px; margin:0 auto; background-color: #fff; padding: 40px 65px;}
.main_shoppingcar .shoppingcar_form_box .group{ width: 100%; padding: 8px 0; }
.main_shoppingcar .shoppingcar_form_box .left_label{ float: left; width: 110px; line-height: 36px; padding: 2px; }
.main_shoppingcar .shoppingcar_form_box .right_fillbox{ float: left; width: calc(100% - 110px); }

.main_shoppingcar .shoppingcar_form_box .fbox{ width: 100%; color: #333; font-size: 16px; height: 40px; max-width: 600px; line-height: 36px; border:1px solid #dddddd; border-radius: 4px; padding: 2px 10px; }
.main_shoppingcar .shoppingcar_form_box input.fbox::placeholder, .main_shoppingcar .shoppingcar_form_box textarea.fbox::placeholder{font-size: 14px; color: #999999; font-weight: normal; }
.main_shoppingcar .shoppingcar_form_box input.fbox:focus, .main_shoppingcar .shoppingcar_form_box textarea.fbox:focus{ border-color: #ff8a00; }
.main_shoppingcar .shoppingcar_form_box textarea.fbox{ line-height: 24px; padding:8px 10px; }
.main_shoppingcar .shoppingcar_form_box .p_note{ color: #ff3564; font-size: 13px; padding: 8px 0; }
.main_shoppingcar .shoppingcar_form_box .p_note a{ color: #337ab7; text-decoration: underline; }
.main_shoppingcar .shoppingcar_form_box .p_note a:hover{ text-decoration: none; }
.main_shoppingcar .shoppingcar_form_box .p_gray{ color: #888; }

.main_shoppingcar .styled-select { border: 1px solid #e0e0e0; width:100%; border-radius: 4px; min-height: 36px; -webkit-transition: all 0.30s ease-in-out;  -moz-transition: all 0.30s ease-in-out;  -ms-transition: all 0.30s ease-in-out;  -o-transition: all 0.30s ease-in-out; overflow: hidden; background: url(../images/icon_arr.png) right center no-repeat #fff; background-size: contain;}
.main_shoppingcar .styled-select select.md-input { width:100%; padding: 2px 30px 2px 10px; min-height: 36px; line-height: 34px; *width:120%; _width:120%;  background:transparent; text-align: center;  font-size: 15px; border: 0; border-radius:0; -webkit-appearance: none;  }
.main_shoppingcar .styled-select select.md-input option{ background-color:#fff; text-align: center; color: #333;}
/*.main_shoppingcar .box3{ padding-bottom: 5px; }*/
.main_shoppingcar .box3 .styled-select{ float: left; margin-left: 15px; margin-bottom: 10px; }
.main_shoppingcar .box3 input.fbox{ float: left; }
.main_shoppingcar .box3 .styled-select:first-child{ margin-left: 0; }

.main_shoppingcar .h_ex{ min-height: 88px; }
.main_shoppingcar .shoppingcar_form_box .w_00{ max-width: 88px; }
.main_shoppingcar .w_01{ max-width: 165px; }
.main_shoppingcar .shoppingcar_form_box .w_02{ max-width: 165px; }

.main_shoppingcar .store_btn{ border-radius: 4px; cursor: pointer; background-color: #ff8a00; color: #fff; line-height: 34px; padding: 0 10px; margin-left: 8px; }
.main_shoppingcar .store_btn:hover{ opacity: .9; }
.main_shoppingcar .right_fillbox .redbox-checkbox span{ padding-top: 7px; padding-bottom: 10px; font-size: 13px; line-height: 30px; color: #333;}

.bottom_terms{ width: 100%; max-width: 1000px; margin: 0 auto; border-top: 1px solid #333; padding: 30px 30px 50px 30px; margin-top: 60px; }
.bottom_terms li{ padding: 5px 0; }
.bottom_terms li span{ color: #686868; font-size: 15px;}
.bottom_terms li span a{color: #337ab7; text-decoration: underline; }
.bottom_terms li span a:hover{ text-decoration: none; }

p.bt_btn { text-align: center; margin: 0 auto; padding:25px 0 40px 0; cursor: pointer; font-weight: bold; letter-spacing: 5px; cursor: pointer;}
p a.btn_org{ background-color: #ff8a00; padding:0 40px; color: #fff; margin: 0 10px; border-radius: 4px; line-height: 45px; display: inline-block; /*max-width: 362px;*/ }
p a.btn_org:hover{ opacity: .8; }
p a.btn_red{ background-color: #ff3564;  }
p a.no_function{ background-color: #999; cursor: no-drop; pointer-events: none;}

.main_shoppingcar .for_mob_total{ display: none; position: fixed; bottom: 0; width: 100%; left: 0; z-index: 100; box-shadow: 0 0 5px rgba(0,0,0,.2); padding: 15px 20px; }
.main_shoppingcar .for_mob_total p{ display: block; float: none; line-height: initial; padding: 0;}
.main_shoppingcar .for_mob_total p.all{ float: none; padding: 0; }
.main_shoppingcar .for_mob_total p.all span{padding: 0 10px;}


/*收合*/
.main_shoppingcar .buy_list a.show_info{ cursor: pointer; z-index: 20; position: absolute; bottom: 10px; right: 5px; width: 40px; height: 30px; display: none; background: url(../images/show_more.png) center center no-repeat; background-size: contain; }
.main_shoppingcar .buy_list a.hide_info{ cursor: pointer; z-index: 20; position: absolute; bottom: 20px; right: 5px; width: 40px; height: 30px; display: block; background: url(../images/hide_more.png) center center no-repeat; background-size: contain; }

/*==== RWD ====*/
@media (max-width:1020px){
	.contents_box , .main_shoppingcar .top_step ul, .main_shoppingcar .buy_list ul{ width:calc(100% - 30px); margin: 0 auto;}
}
@media (max-width:1000px){
	.main_shoppingcar .buy_list ul li{ height: initial;  position: relative;}
	.main_shoppingcar .buy_list .product_photo{ position: absolute; top: 15px; left: 15px; width: 120px; height: 132px; }
	.main_shoppingcar .buy_list .product_info{width: 100%; padding-left: 155px; padding-bottom: 25px;}
	.main_shoppingcar .buy_list .product_subtotal{ width: 100%; display: initial; height: initial; -webkit-align-items: initial; align-items: initial; -webkit-justify-content: initial; justify-content: initial; }
	.main_shoppingcar .buy_list .product_subtotal .exbox{ width: 100%; border-top: 1px solid #dddddd; border-left: none; padding: 10px 20px; }
	.main_shoppingcar .buy_list .product_subtotal p.note_code{ float: right; line-height: 45px; }
	.main_shoppingcar .buy_list .product_subtotal p.s_money{ float: right; line-height: 45px; padding-left: 25px; padding-right: 25px; }
	.main_shoppingcar .buy_list .product_subtotal p.s_money span{ display: inline-block;padding: 0; padding-left: 10px;  }
	.main_shoppingcar .shoppingcar_form_box{padding: 35px 45px;}
	.main_shoppingcar .fill_info, .main_shoppingcar .pay_info{ width:calc(100% - 30px); margin:0 auto; }
}
@media (max-width:900px){
	.main_shoppingcar .top_step ul li p{ font-size: 18px; }
	.main_shoppingcar .total_amount{ display: none; }
	.main_shoppingcar .for_mob_total{ display: block !important;  }
	p.bt_btn a.btn_red{ position: fixed;  z-index: 100; bottom: 20px; right: 15px; padding: 0 40px; letter-spacing: 1px; }
}
@media (max-width:800px){
	.main_shoppingcar .top_step ul li p{ font-size: 16px; }
	.main_shoppingcar .top_step ul li p span{ display: block; }

	.main_shoppingcar .buy_list .product_photo{ width:92px; height:102px; }
	.main_shoppingcar .buy_list .product_info{ padding:15px 20px;}
	.main_shoppingcar .buy_list .product_info h3{ font-size: 17px; padding-left: 110px; min-height: 45px; margin-bottom: 3px; padding-right: 15px; }
	.main_shoppingcar .buy_list .product_info .product_item{ padding-left: 110px; min-height: 50px;}

	.main_shoppingcar .buy_list .product_info .product_item p{ font-size: 14px; line-height: 24px; }
	.main_shoppingcar .buy_list .product_info .bottom_item .redbox-checkbox{ width: 100%; margin-top: 10px; }
	.main_shoppingcar .buy_list .product_subtotal p.note_code{ float: left; }

	.main_shoppingcar .buy_list .product_info .bottom_item .voucher .for_w_more{ min-width: initial; }
}
@media (max-width:760px){
	.main_shoppingcar .box3 .styled-select, .main_shoppingcar .w_01{ max-width: 100%; margin-left:0;  }
}
@media (max-width:700px){
	.main_shoppingcar .top_step ul li{padding: 15px 0;}
	.main_shoppingcar .top_step ul li p{ font-size: 15px; }
	.main_shoppingcar .w_00{ margin-bottom: 10px; }
	.main_shoppingcar .store_btn{ margin: 8px 0 0 0; }

	.main_shoppingcar .buy_list .product_info .product_item span{ display: none; }

	.main_shoppingcar .total_amount{padding: 10px 15px;}
	.main_shoppingcar .total_amount p.all span{ font-size: 25px;}

	/*p.btn_org{ max-width: 150px; }*/
	p.btn_org a{ line-height: 42px;}
	p.btn_red{ width: 100px; letter-spacing: 0;}
}
@media (min-width:500px){
	.main_shoppingcar .buy_list a.hide_info{ display: none !important; }
}
@media (max-width:500px){
	.main_shoppingcar .buy_list .product_info .bottom_item .voucher{ padding: 0 0 0 10px;width: calc(100% - 140px); }
	.main_shoppingcar .buy_list .product_info .bottom_item .voucher input{ width: 100%; }
	.main_shoppingcar .top_step ul li p{ font-size: 14px; }
	.main_shoppingcar .shoppingcar_form_box{padding: 15px 20px;}
	.main_shoppingcar .shoppingcar_form_box .for_w100{ width: 100%; }

	.main_shoppingcar .buy_list a.show_info{ display: block; }
	.main_shoppingcar .buy_list .the_switch .product_info .product_item p.use_day{ display: none; }
	.main_shoppingcar .buy_list .the_switch .product_info .bottom_item{ display: none; }
	.main_shoppingcar .buy_list .the_switch .product_subtotal .exbox{ border: none; padding: 0; }
	.main_shoppingcar .buy_list .the_switch .product_subtotal p.note_code{ display: none; }
	.main_shoppingcar .buy_list .the_switch .product_subtotal p.s_money{ position: absolute; bottom: 0; left: 130px; padding: 0; }
	.main_shoppingcar .buy_list .the_switch .product_subtotal p.s_money span{ padding-left: 5px; font-size: 20px; }
	.main_shoppingcar .buy_list .the_switch a.hide_info{ display: none; }

	p a.btn_org, p.bt_btn a.btn_red{padding: 0 20px;}

}
@media (max-width:360px){
	.main_shoppingcar .buy_list .product_info .product_item p{ font-size: 13px; line-height: 20px; }
	.main_shoppingcar .buy_list .product_info .bottom_item .voucher{ width: calc(100% - 120px);}
	.main_shoppingcar .buy_list .product_info .bottom_item .input_quantity button{ width: 33px; }
	.main_shoppingcar .buy_list .product_info .bottom_item .input_quantity input{ padding: 2px 5px; width: 42px; }
	.main_shoppingcar .buy_list .product_info .bottom_item .redbox-checkbox a{ font-size: 14px; }
	.main_shoppingcar .buy_list .product_subtotal p.note_code{ float: right; font-size: 13px; padding-right: 25px; line-height: 20px; }
	.main_shoppingcar .total_amount p.all span{ font-size: 20px; padding: 0; }
}