.mobile {
	display: none;
}
#main-container #content-box {
	position: relative;
	padding: 25px 0px ;
	height: 1160px;
	background-image: url('../images/process.png');
}
#main-container #content-box .detail-1 {
	position: absolute;
    top: 240px;
    right: 410px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#main-container #content-box .detail-2 {
	position: absolute;
    top: 435px;
    right: 410px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#main-container #content-box .detail-3 {
	position: absolute;
    top: 635px;
    right: 410px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#main-container #content-box .detail-3-get {
	position: absolute;
    top: 660px;
    right: 383px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#main-container #content-box .detail-4 {
	position: absolute;
    top: 835px;
    right: 410px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#main-container #content-box .detail-5 {
	position: absolute;
    top: 1030px;
    right: 410px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#main-container #content-box .detail-5-set {
	position: absolute;
    top: 1055px;
    right: 383px;
    color: red;
    text-decoration: underline;
    cursor: pointer;
}

.modal-title {
	color: #0081c8;
}
.modal table tr{
	border-bottom: 1px solid #ccc;
}
.modal table tr:last-child{
	border-bottom: 0;
}
.modal table tr td.icon-box{
}
.modal table tr td.desc{
}
.modal table tr td.icon-box img{
	margin: 20px 20px 20px 0; 
}
.modal table tr td.desc .title{
	font-size: 1.2em;
	line-height: 2em;
	color: #0081c8;
}
.modal table tr td.desc .note{
	color: #919191;
}
@media (min-width: 1024px) {
	.modal-dialog {
	    max-width: 900px;
	    margin: 30px auto;
	}
}
@media (min-width: 768px) {
	.modal-dialog {
	    max-width: 700px;
	    margin: 30px auto;
	}
}

.red {
	color: red;
}
.modal-body {
	overflow: hidden;
	overflow-y:auto;
	height: 50vh;
}

@media (max-width: 768px) {
	.web {
		display: none;
	}
	.mobile {
		display: block;
	}

	#main-container #content-box.mobile {
		position: relative;
		padding: 25px 0px ;
		height: 1788px;
		background-image: url('../images/process2.png');
		background-repeat: no-repeat;
    	background-position: center;
	}

	#main-container #content-box .detail-1 {
	    top: 130px;
		left: calc(50% + 10px );
		right: initial;
	}

	#main-container #content-box .detail-2 {
	    top: 545px;
		left: calc(50% + 10px );
		right: initial;
	}

	#main-container #content-box .detail-3 {
	    top: 815px;
		left: calc(50% + 10px );
		right: initial;
	}

	#main-container #content-box .detail-3-get {
	    top: 836px;
		left: calc(50% + 10px );
		right: initial;
	}

	#main-container #content-box .detail-4 {
	    top: 1225px;
		left: calc(50% + 10px );
		right: initial;
	}

	#main-container #content-box .detail-5 {
	    top: 1470px;
		left: calc(50% + 10px );
		right: initial;
	}

	#main-container #content-box .detail-5-set {
	    top: 1491px;
		left: calc(50% + 10px );
		right: initial;
	}
}